{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12 ">
                        <div class="hero__caption hero__caption3 text-center">
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">Help center</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="{% static 'assets/img/hero/top-left-shape.png' %}" alt="">
        </div>
    </div>
    <!-- Slider Area End -->
    <!-- ask questions -->
    <section class="ask-questions section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-90">
                        <h2>Frequently ask questions</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>What is CAP?</h2>
                            <p>
                                Certified Accreditor Program (CAP) is an initiative designed to enable 
                                the Lagos State Government engage private sector professional as stakeholders 
                                in regulating the built environment. These partners will be known as Certified 
                                Accreditors (CAs). CAs will work with the Ministry and its Agencies, LASPPPA & LASBCA.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>How can I become a Certified Accreditor (CA)?</h2>
                            <p>
                                A Certified Accreditor (CA) is a group of professionals that come together to form a Consortium. All CAs must have a minimum of 4 Registered Professionals depending on the grade
                            </p>
                            <ul class="custom-ul">
                                <li>A Registered Architect     (compulsory)</li>
                                <li>A Registered Civil/Structural Engineer  (compulsory)</li>
                                <li>A Registered Mechanical Engineer      (compulsory)</li>
                                <li>A Registered Electrical Engineer        (compulsory)</li>
                                Registered Builder
                                <li>A Registered Town Planner</li>
                                <li>A Registered Geoscientist</li>
                            </ul>
                            <strong>All Parties to a CA must obtain a letter of recommendation from their respective professional body to be qualify.</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Can an already existing registered Company/Firm register as a CA?</h2>
                            <p>Yes, the Firm only need to provide proof having the required professionals as members of the Firm
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Who are the professionals qualified for CAP?</h2>
                            <p>
                                <li>i.	A Registered Architect</li>
                                <li>ii.	A Registered Civil/Structural Engineer </li>
                                <li>iii.	A Registered Mechanical Engineer</li>
                                <li>iv.	A Registered Electrical Engineer</li>
                                <li>v.	A Registered Builder</li>
                                <li>vi.	A Registered Town Planner</li>
                                <li>vii.	A Registered Geoscientist</li>
                                <li>viii. Other Relevant Professional in the Built Environment</li>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Can I register as an individual?</h2>
                            <p>
                                No, Professionals are to come together to register as a group.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Do CAs need to register with Corporate Affairs Commission as a Company?</h2>
                            <p>
                                No, the professionals only need to come together and register for the CAP.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>What is the registration fee for CAP?</h2>
                            <p>
                                Yearly registration fee ranging from N50,000 and N200,000 depending on the Grade.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>How many years' experience is required to become a CA?</h2>
                            <p>
                                Minimum of 3 years' post Professional registration experience depending on the grade.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-question  single-question2 d-flex mb-50">
                        <span> Q.</span>
                        <div class="pera">
                            <h2>Why CAP? </h2>
                            <p>
                                Lagos State is introducing the Certified Accreditor Programme as part of the reforms to restore confidence
                            in the building construction industry by ensuring that all building projects within the state are adequately 
                            monitored.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End ask questions -->
{% endblock content %}
