{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<!-- Slider Area Start-->
<div class="slider-area slider-bg ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-9">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".3s">Ministry of Physical Planning & Ubarn Development</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">Welcome to CAP</h1>
                            <p data-animation="fadeInLeft" data-delay=".8s">Building Better for a Greater LAGOS</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1s" href="{% url 'accreditors:create_account' %}" class="btn radius-btn">get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right">
                            <img src="{% static 'assets/img/hero/Civic_Towers.jpeg' %}" alt="" data-animation="fadeInRight" data-delay="1s">
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-9 ">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".3s">Ministry of Physical Planning & Ubarn Development</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s">Welcome to CAP</h1>
                            <p data-animation="fadeInLeft" data-delay=".8s">Building Better for a Greater LAGOS</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1s" href="{% url 'accreditors:create_account' %}" class="btn radius-btn">get started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right">
                            <img src="{% static 'assets/img/hero/Civic_Towers.jpeg' %}" alt="" data-animation="fadeInRight" data-delay="1s">
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="{% static 'assets/img/hero/top-left-shape.png' %}" alt="">
    </div>
</div>
<!-- Slider Area End -->


<!-- Services -->
<section class="team-area section-padding40 section-bg1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-15">
                    <h2>CERTIFIED ACCREDITOR PROGRAM</h2>
                    <h2>What CAP is all About</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-12">
                <div class="single-cat">
                    <div class="cat-cap">
                        <h5 class="red-text lead-font-size">Background</a></h5>
                        <p align="justify" style="color:black; font-size: 19px" class="pb-40">
                            Lagos State is introducing the Certified Accreditor Programme as part of the reforms to restore confidence
                            in the building construction industry by ensuring that all building projects within the state are adequately 
                            monitored by Certified Accreditors - professionals with proven capabilities and requisite experience, working in collarboration with Lagos Physical Planning Permit Authority (LASPPPA)
                            and Lagos State Building Control Agency (LASBCA).</P>
                        <p align="justify" style="color:black; font-size: 19px" class="pb-40">
                            Building construction accreditation, as encapsulated in the Certified Accreditor Programme, 
                            will be carried out by these private-sector professionals duly registered with their respective professional bodies. 

                            These Certified Accreditors would assess the relevant designs/drawings contained in each application and thereafter
                            endorse the drawings for further processing, undertake site inspections, issue authorisation for work to proceed
                            and certification for work stages satisfactorily completed. </p>
                        <p align="justify" style="color:black; font-size: 19px">
                            It is important to note that these Certified Accreditors are not site supervisors. 
                            Site inspections carried out do not replace day-to-day site supervision of the building works expected of the client’s project team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->


<!--? Pricing Card Start -->
<section class="pricing-card-area fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="text-center mb-90">
                    <h1 class="red-text lead-font-size">Selection of Grade</h1>
                    <p>Building your team. We're here to help you succeed!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <h4>Grade 1 Accreditors</h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Minimum of 6 Professionals </li>
                            <li>Registered architect</li>
                            <li>Registered civil/structural engineer</li>
                            <li>Registered mechanical engineer</li>
                            <li>Registered electrical engineer</li>
                            <li><small>
                                <strong>Minimum of 10 years post professional registration</strong></small>
                            </li>
                        </ul>
                        <a href="{% url 'accreditors:about' %}" class="borders-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="assets/img/icon/price2.svg" alt="">
                        <h4>Grade 2 Accreditors </h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Minimum of 5 Professionals</li>
                            <li>Registered architect</li>
                            <li>Registered civil/structural engineer</li>
                            <li>Registered mechanical engineer</li>
                            <li>Registered electrical engineer</li>
                            <li><small>
                                <strong>Minimum of 10 years post professional registration</strong></small>
                            </li>
                        </ul>
                        <a href="{% url 'accreditors:about' %}" class="borders-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <h4>Grade 3 Accreditors</h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Minimum of 4 Professionals</li>
                            <li>Registered architect</li>
                            <li>Registered civil/structural engineer</li>
                            <li>Registered mechanical engineer</li>
                            <li>Registered electrical engineer</li>
                            <li><small>
                                <strong>Minimum of 6 years post professional registration</strong></small>
                            </li>
                        </ul>
                        <a href="{% url 'accreditors:about' %}" class="borders-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="assets/img/icon/price3.svg" alt="">
                        <h4>Grade 4 Accreditors </h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>Minimum of 4 Professionals</li>
                            <li>Registered architect</li>
                            <li>Registered civil/structural engineer</li>
                            <li>Registered mechanical engineer</li>
                            <li>Registered electrical engineer</li>
                            <li><small>
                                <strong>Minimum of 3 years post professional registration</strong></small>
                            </li>
                        </ul>
                        <a href="{% url 'accreditors:about' %}" class="borders-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Card End -->

<!-- ask questions -->
<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2>Frequently ask questions</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>What is CAP?</h2>
                        <p style="color:black">
                            Certified Accreditor Program (CAP) is an initiative designed to enable the Lagos State Government engage private sector professional as stakeholders in regulating the built environment. These partners will be known as Certified Accreditors (CAs). CAs will work with the Ministry and its Agencies, LASPPPA & LASBCA to do the following;
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>How can I become a Certified Accreditor (CA)?</h2>
                        <p style="color:black">A Certified Accreditor (CA) is a group of professionals that come together to form a Consortium. All CAs must have a minimum of 4 Registered Professionals depending on the grade</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Can an already existing / registered Company register as a CA?</h2>
                        <p style="color:black">Yes, the Firm only need to provide proof having the required professionals as members of the Firm
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Who are the professionals qualified for CAP?</h2>
                        <ol class="custom-ol">
                            <li>A Registered Architect</li>
                            <li>A Registered Civil/Structural Engineer </li>
                            <li>A Registered Mechanical Engineer</li>
                            <li>A Registered Electrical Engineer</li>
                            <li>A Registered builder</li>
                            <li>A Registered Town Planner</li>
                            <li>A Registered Geoscientist</li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 ">
                <div class="more-btn text-center mt-20">
                    <a href="{% url 'accreditors:help' %}" class="btn">Go to Support</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End ask questions -->


{% endblock content %}