{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<h2>Accreditor Information</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    <div id="application-forms">
        {% for application_form in formset %}
            {{ application_form.as_p }}
        {% endfor %}
    </div>
    <button type="button" id="add-application">Add Application</button>
    <button type="submit">Submit</button>
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const addApplicationButton = document.getElementById('add-application');
    const applicationFormsDiv = document.getElementById('application-forms');
    let formIdx = {{ formset.total_form_count }};

    addApplicationButton.addEventListener('click', function() {
        const form = document.createElement('div');
        form.innerHTML = '{{ formset.empty_form.as_p }}'.replace(/__prefix__/g, formIdx);
        applicationFormsDiv.appendChild(form);
        formIdx++;
    });
});
</script>


{% endblock %}