{% extends 'dashboard/base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">

        <div class="clearfix"></div>
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'accreditors:download_pdf_file' %}" type="button" class="btn btn-primary">
                                Download Expression of Interest Form
                            </a>
                            <!-- Button to open modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#applicationModal">
                                Open Application Guidelines
                            </button>
                        </div>
                        <div class="card-body">
                            <h4 class="box-title">My Team Applications </h4>
                        </div>
                        <div class="card-body--">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% elif message.tags == 'error' %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="table-stats order-table ov-h">
                                {% if applications %}
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">#</th>
                                                <th>Full Name</th>
                                                <th>Position</th>
                                                <th>Profession</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for application in applications %}
                                                <tr>
                                                    <td class="serial">{{ forloop.counter }}.</td>
                                                    <td> {{ application.full_name }} </td>
                                                    <td> {{ application.get_position_display }}</span> </td>
                                                    <td> {{ application.get_profession_display }}</td>
                                                    {% comment %} <td>
                                                        <span class="badge badge-warning">{{ application.status }}</span>
                                                    </td> {% endcomment %}
                                                    <td>
                                                        <span class="badge {% if application.status_id == 1 %}badge-warning{% elif application.status_id == 3 %}badge-success{% elif application.status_id == 2 %}badge-danger{% endif %}">
                                                            {{ application.status }}
                                                        </span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="card-body">
                                        <p>No applications found.</p>
                                    </div>
                                {% endif %}
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->
            </div>
        </div>
        <!-- /.orders -->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock content %}